{% load  static %}
{% for item in ads %}
    <div class="advertisement__block">
        <div class="advertisement__img">
            <img src="{{ item.image.url }}" alt="image" width="264px" height="161">
        </div>
        <div class="information-block">
            <div class="information-block__top">
                <div class="information-block__flat">{{ item.number_of_rooms }}-комн. квартира</div>
                <div class='area'><span class="square">м<span>2</span></span></div>
                <div>5/5 эт</div>
            </div>
            <div class="substring">{{ item.district }}</div>
            <div class="street-name">{{ item.address }}</div>
            <div class="substring">{{ item.price_sm }} &#8381; / <span class="square">м<span>2</span></span>
            </div>
            <div class="price">{{ item.price_sm }} &#8381;</div>
            <div class="phone-number">
                <div class="phone-number__block">
                    <p class='visible'>Показать телефон</p>
                    <p class="hidden"><a href="tel: {{ item.phone }}">{{ item.phone }}</a></p>
                </div>
                <a href="tel: {{ item.phone }}">
                    <div class="phone-number__icon">
                        <img src="{% static 'img/svg/phone.svg' %}" alt="phone">
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
