{% load static %}
{% for item in ads %}
    <div class="slider__block slider__block_width">
        <div class="slider__img">
            <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" width="360" height="220"></a>
        </div>
        <div class="information-block">
            <div class="information-block__top">
                <div class="information-block__flat">{{ item.number_of_rooms }}-комн. квартира</div>
                <div class='area'>{{ item.apartment_area }} <span class="square">м<span>2</span></span>
                </div>
                <div>{{ item.apartment_floor }}/{{ item.house_floor }} эт</div>
            </div>
            <div class="substring">{{ item.district }}</div>
            <div class="street-name">{{ item.address }}</div>
            <div class="substring">{% if item.price_sm %}{{ item.price_sm }} &#8381; /
                <span class="square">м<span>2</span></span>{% endif %}
            </div>
            <div class="price">{{ item.price }} &#8381; {#<span class='old-price'>1 200 000 &#8381;</span>#}
            </div>
            <div class="phone-number">
                <div class="phone-number__block">
                    <p class='visible'>Показать телефон</p>
                    <p class="hidden"><a href="tel: {{ item.phone }}">{{ item.phone }}</a></p>
                </div>
                <a href="tel: {{ item.phone }}">
                    <div class="phone-number__icon">
                        <img src="{% static 'img/svg/phone.svg' %}" alt="phone">
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
