<form class="search" action="{% url 'filter' %}">
    <div class='search-options'>
        <div class="search-options__item">
            <div class="search-options__text first">
                <p class="search-options__substing">Тип сделки</p>
                <div>
                    <select name="deal_type" class="selectric">
                        {% for item in view.get_deal_types %}
                            <option class="selectric__item" value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="search-options__item">
            <div class="search-options__text">
                <p class="search-options__substing">Тип жилья</p>
                <div>
                    <select name="housing_type" class="selectric">
                        {% for item in view.get_housing_type %}
                            <option class="selectric__item" value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="search-options__item">
            <div class="search-options__text">
                <p class="search-options__substing">Тип недвижимости</p>
                <div>
                    <select name="proper_type" class="selectric">
                        {% for item in view.get_proper_type %}
                            <option class="selectric__item" value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="search-options__item">
            <div class="search-options__text">
                <p class="search-options__substing">Отделка</p>
                <div>
                    <select name="finishing" class="selectric">
                        {% for item in view.get_finishing %}
                            <option class="selectric__item" value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="search-options__item">
            <div class="search-options__text">
                <p class="search-options__substing">Квадратура</p>
                <div>
                    <select name="up_tp" class="selectric">
                        {% for item in view.get_up_tp %}
                              <option class="search-options__title selectric__item" value="{{ item.id }}">
                                    {{ item.up }} м&sup2; &nbsp;—&nbsp; {{ item.to }} м&sup2;
                                </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <input type="submit" class="search-options__btn" value="Поиск">
    </div>
</form>

