{% load static %}
<footer>
    <div class="wrap">
        <div class="footer footer_margin">
            <div class="footerimg">
                <img src="{% static 'img/svg/logo2.svg' %}" alt="logo">
            </div>
            <div class="footeradress">
                <p>Офис компании: <br>
                     г. Норильск, Ленинский проспект, д. 31, офис 3
                </p>
                <p> Тел.:
                    <a href="tel:+73919426155">+7(3919) 42-61-55</a>,
                    <a href="tel:+73919493773">+7(3919) 49-37-73</a>

                </p>
                <p> e-mail:
                    <a href="mailto:kluch-norilsk@mail.ru">kluch-norilsk@mail.ru</a>
                </p>
            </div>
            <div>
                <p>
                    Руководитель: <br> Давыденко Виктор Васильевич, <br> <a href="tel:+79135043773">+7(913) 504-37-73</a>
                </p>
            </div>
            <div>
                <p>
                    Режим работы: <br>
                    будние дни - с 11:00 до 19:00 <br>
                    сб. - с 12:00 до 16:00
                </p>
            </div>
            <div class="footerroot">
                <p>Политика конфиденциальности</p>
                <p>Условия обработки персональных данных</p>
            </div>
            <div class="footermade-in">
                Сделано
                <img src="{% static 'img/svg/copyright.svg' %}" alt="logo">
            </div>
        </div>
    </div>
</footer>
