.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url("../fonts/proxima_nova/ProximaNova-Light.woff");
    src: url("../fonts/proxima_nova/ProximaNova-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("../fonts/proxima_nova/ProximaNova-Regular.woff");
    src: url("../fonts/proxima_nova/ProximaNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url("../fonts/proxima_nova/ProximaNova-Bold.woff");
    src: url("../fonts/proxima_nova/ProximaNova-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url("../fonts/proxima_nova/ProximaNova-Extrabld.woff");
    src: url("../fonts/proxima_nova/ProximaNova-Extrabld.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Black';
    src: url("../fonts/proxima_nova/ProximaNova-Black.woff");
    src: url("../fonts/proxima_nova/ProximaNova-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/webfonts/fa-regular-400.eot");
    src: url("../fonts/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/fa-regular-400.woff2") format("woff2"), url("../fonts/webfonts/fa-regular-400.woff") format("woff"), url("../fonts/webfonts/fa-regular-400.ttf") format("truetype"), url("../fonts/webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../fonts/webfonts/fa-solid-900.eot");
    src: url("../fonts/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/fa-solid-900.woff2") format("woff2"), url("../fonts/webfonts/fa-solid-900.woff") format("woff"), url("../fonts/webfonts/fa-solid-900.ttf") format("truetype"), url("../fonts/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/webfonts/fa-brands-400.eot");
    src: url("../fonts/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/fa-brands-400.woff2") format("woff2"), url("../fonts/webfonts/fa-brands-400.woff") format("woff"), url("../fonts/webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Pro';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/webfonts/fa-light-300.eot);
    src: url(../fonts/webfonts/fa-light-300.eot?#iefix) format("embedded-opentype"), url(../fonts/webfonts/fa-light-300.woff2) format("woff2"), url(../fonts/webfonts/fa-light-300.woff) format("woff"), url(../fonts/webfonts/fa-light-300.ttf) format("truetype"), url(../fonts/webfonts/fa-light-300.svg#fontawesome) format("svg");
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-chevron-down:before {
    content: "\f078";
}

.fa-chevron-up:before {
    content: "\f077";
}

.fa-chevron-left:before {
    content: "\f053";
}

.fa-whatsapp:before {
    content: "\f232";
}

.fa-chevron-right:before {
    content: "\f054";
}

.fa-heart:before {
    content: "\f004";
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fal,
.far {
    font-family: 'Font Awesome 5 Pro';
}

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
}

.fal {
    font-weight: 300;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
option {
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
}

.wrap {
    max-width: 1128px;
    margin: auto;
}

.header {
    background: url(../img/bg-header.png) bottom right;
    background-size: cover;
    height: 900px;
    padding-top: 40px;
    color: #fff;
}

.header-title {
    font-family: 'Proxima Nova Black';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 8px;
}

.header-title_top {
    margin-top: 153px;
}

.header-subtitle {
    font-family: 'Proxima Nova Light';
    font-size: 16px;
    line-height: 19px;
    opacity: 0.4;
    letter-spacing: 0.1px;
}

.search {
    position: relative;
    max-width: 1128px;
    margin: auto;
}

.search-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #000;
    margin-top: 46px;
    font-family: 'Proxima Nova Bold';
    font-size: 16px;
    line-height: 19px;
}

.search-options__item {
    cursor: pointer;
    width: 188px;
}

.search-options__item:hover .navbar {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
}

.search-options__item:hover .navbar-wrap {
    padding-top: 24px;
}

.search-options__text {
    background: #fff;
    height: 86px;
    padding: 24px 0 0 24px;
}

.search-options .first {
    border-radius: 8px 0 0 8px;
}

.search-options__substing {
    margin-bottom: 4px;
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
    line-height: 15px;
    color: #969696;
}

.search-options__title {
    color: #202020;
    line-height: 1;
}

.search-options__title span {
    vertical-align: super;
    font-size: 10px;
}

.search-options__title i {
    margin-left: 4px;
    font-size: 9px;
}

.search-options__btn {
    border: none;
    text-decoration: none;
    height: 86px;
    width: 188px;
    background: #00255C;
    border-radius: 0px 8px 8px 0px;
    font-family: 'Proxima Nova Bold';
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    line-height: 86px;
    text-align: center;
    cursor: pointer;
}

.search-options__btn:active,
.search-options__btn:focus {
    outline: none;
}

.search-options .navbar-wrap {
    padding-top: 0;
    position: relative;
}

.search-options .navbar {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    transform: translate(0, 20px);
    width: 188px;
    background: #fff;
    -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    list-style: none;
}

.search-options .navbar__item {
    line-height: 51px;
    height: 51px;
}

.search-options .navbar__item:hover {
    background: #ECF8FF;
    border-radius: 8px;
}

.search-options .navbar__item a {
    text-decoration: none;
    color: #969696;
    display: block;
    margin-left: 24px;
}

.search-options .navbar__item a:hover {
    color: #202020;
}

.advanced-search-btn {
    position: absolute;
    top: 110px;
    cursor: pointer;
    right: 0;
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
    color: #202020;
    background: #fff;
    width: 188px;
    height: 51px;
    border-radius: 8px;
    line-height: 51px;
    text-align: center;
}

.advanced-search-btn .arrow-up {
    display: none;
}

.advanced-search-btn .arrow-up::after {
    content: "\f077";
    font-family: 'Font Awesome 5 Free';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

.advanced-search-btn .arrow-down {
    display: inline-block;
}

.advanced-search-btn .arrow-down::after {
    content: "\f078";
    font-family: 'Font Awesome 5 Free';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

.advanced-search-wrap {
    display: none;
}

.advanced-search {
    position: absolute;
    top: 110px;
    max-width: 752px;
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
    -webkit-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
    color: #000;
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
}

.advanced-search_visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.advanced-search span {
    font-family: 'Proxima Nova Bold';
}

.advanced-search__line_margin {
    margin-bottom: 16px;
}

.advanced-search input[type="radio"] {
    position: relative;
    top: 2px;
    margin: 0 8px 0 24px;
    height: 11px;
    width: 11px;
    border: 1px solid #CFCFCF;
}

.advanced-search input[type="number"] {
    width: 44px;
    height: 31px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    margin-right: 8px;
    font-family: 'Proxima Nova Regular';
    text-align: center;
    line-height: 44px;
    font-size: 12px;
    line-height: 15px;
}

.advanced-search .one {
    margin-left: 24px;
}

.advanced-search .select {
    cursor: pointer;
    position: relative;
    width: 109px;
    height: 31px;
    border: 1px solid #E9E9E9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 18px;
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
    line-height: 15px;
    margin: 0 24px 0 16px;
    background: url(../img/svg/arrow.svg) no-repeat 83px;
    display: inline-block;
}

.advanced-search .select__nav {
    display: none;
    background: #fff;
    position: absolute;
    top: 31px;
    left: 0;
    border-radius: 4px;
    border: 1px solid #E9E9E9;
    width: 109px;
}

.advanced-search .select__option {
    height: 31px;
    padding: 8px 18px;
}

.advanced-search .select__option:hover {
    background: #ECF8FF;
}

.hamburger {
    margin-top: 10px;
    cursor: pointer;
}

.hamburger > div {
    height: 2px;
    background: #fff;
    border-radius: 7px;
}

.hamburger__line-one {
    width: 24px;
}

.hamburger__line-two {
    width: 19px;
    margin: 6px 0;
}

.hamburger__line-three {
    width: 13px;
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-top .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-top .logo__text {
    margin: 10px 0 0 16px;
    width: 77px;
    height: 19px;
}

.header-top-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-top-right__phone-number {
    margin: 12px 56px 0 0;
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
}

.header-top-right__phone-number a {
    color: #fff;
    text-decoration: none;
}

.header-top-right__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 212px;
    height: 39px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #0074B5;
    line-height: 39px;
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin-right: 56px;
    letter-spacing: 0.1px;
}

.header-top-right__button .plus {
    font-size: 24px;
    margin: 0 16px 0 24px;
}

.best-offer {
    background: #E5E5E5;
}

.best-offer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 73px;
    margin-bottom: 40px;
}

.best-offer .top .title {
    font-family: 'Proxima Nova Extra Bold';
    margin-right: 23px;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #202020;
    letter-spacing: 0.3px;
}

.best-offer .top .string {
    font-family: "Proxima Nova Regular";
    font-size: 12px;
    line-height: 15px;
    color: #717171;
    margin-top: 18px;
}

.best-offer .top .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 72px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
}

.best-offer .top .arrow > div {
    margin-top: 4px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: linear .1s;
    -o-transition: linear .1s;
    transition: linear .1s;
    background: #202020;
}

.best-offer .top .arrow > div:hover {
    background: #C9C9C9;
}

.best-offer .top .arrow .slick-disabled {
    background: #C9C9C9;
}

.slick-slide:focus {
    outline: none;
}

.slider__block {
    height: 491px;
    background: #fff;
    margin-right: 24px;
    border-radius: 8px;
    position: relative;
}

.slider__block_width {
    width: 360px;
}

.slider__block .heart svg {
    position: absolute;
    width: 24px;
    height: 21px;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.slider__block .heart .heart-active {
    -webkit-animation: anim 0.4s 1;
    animation: anim 0.4s 1;
    fill: #fff;
}

.slider__block .information-block {
    padding: 32px;
}

.slider__block .information-block__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    line-height: 17px;
    color: #202020;
    margin-bottom: 17px;
}

.slider__block .information-block__flat {
    font-family: 'Proxima Nova Bold';
}

.slider__block .information-block .area {
    border-left: 1px solid #C1C1C1;
    border-right: 1px solid #C1C1C1;
    padding: 0 16px;
    margin: 0 16px 0 12px;
}

.slider__block .information-block .substring {
    font-family: 'Proxima Nova Light';
    font-size: 14px;
    line-height: 17px;
    color: #C1C1C1;
}

.slider__block .information-block .street-name {
    font-family: "Proxima Nova Bold";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #202020;
    margin: 4px 0 16px;
}

.slider__block .information-block .price {
    font-family: 'Proxima Nova Bold';
    margin-top: 4px;
    font-size: 24px;
    line-height: 29px;
    color: #202020;
}

.slider__block .information-block .price .old-price {
    display: inline-block;
    font-family: 'Proxima Nova Regular';
    font-size: 16px;
    line-height: 19px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #929292;
    margin-left: 16px;
}

.slider__block .information-block .phone-number {
    width: 296px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 24px;
}

.slider__block .information-block .phone-number__block {
    width: 240px;
    height: 48px;
    line-height: 48px;
    background: #F0F0F0;
    border-radius: 4px;
    font-family: 'Proxima Nova Bold';
    font-size: 14px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    position: relative;
}

.slider__block .information-block .phone-number__block a {
    display: block;
    color: #000000;
    text-decoration: none;
}

.slider__block .information-block .phone-number__block .hidden {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
}

.slider__block .information-block .phone-number a:focus {
    outline: none;
}

.slider__block .information-block .phone-number__icon {
    width: 48px;
    height: 48px;
    background: #006CCC;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
}

.square {
    display: inline-block;
    position: relative;
}

.square span {
    display: inline-block;
    top: -5px;
    position: absolute;
    vertical-align: super;
    font-size: 8px;
}

@-webkit-keyframes anim {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50% {
        fill: rgba(255, 255, 255, 0.55);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes anim {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50% {
        fill: rgba(255, 255, 255, 0.55);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.text-title {
    font-family: 'Proxima Nova Extra Bold';
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
    color: #202020;
    letter-spacing: 0.3px;
}

.advantages {
    background: #E5E5E5;
}

.advantages .wrap {
    padding-top: 127px;
}

.all-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1086px;
    margin: 56px 0 127px;
}

.all-advantages__img {
    width: 40px;
    height: 40px;
    margin-bottom: 24px;
}

.all-advantages__subtitle {
    font-family: 'Proxima Nova Extra Bold';
    font-size: 16px;
    line-height: 19px;
    color: #202020;
    margin-bottom: 16px;
}

.all-advantages__text {
    width: 180px;
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
    line-height: 15px;
    color: #868686;
}

.consultation__substring {
    margin: 16px 0 32px;
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
    line-height: 15px;
    color: #868686;
}

.consultation__phone {
    display: inline-block;
    margin: 0 8px;
    font-family: 'Proxima Nova Bold';
    color: #202020;
    text-decoration: none;
}

.consultation .fa-whatsapp {
    font-size: 17px;
    color: #202020;
}

.request {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.request__fieldset {
    width: 264px;
    height: 49px;
    border: 1px solid #202020;
    border-radius: 8px;
    padding-left: 24px;
    margin: 0 24px 134px 0;
}

.request__legend {
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
    line-height: 15px;
    color: #202020;
}

.request__input {
    border: none;
    background: #E5E5E5;
    font-family: "Proxima Nova Regular";
    font-size: 14px;
    line-height: 17px;
    color: #202020;
}

.request__input::-webkit-input-placeholder {
    color: #868686;
}

.request__input::-moz-placeholder {
    color: #868686;
}

.request__input:-ms-input-placeholder {
    color: #868686;
}

.request__input::-ms-input-placeholder {
    color: #868686;
}

.request__input::placeholder {
    color: #868686;
}

.request__input:focus,
.request__input:active {
    border: none;
    outline: none;
}

.request .message {
    font-family: "Proxima Nova Regular";
    font-size: 14px;
    line-height: 17px;
    width: 243px;
    margin-left: 24px;
    margin-top: 7.5px;
    color: #000000;
}

.btn {
    width: 264px;
    height: 49px;
    background: #006CCC;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Proxima Nova Regular';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.btn:focus,
.btn:active {
    border: none;
    outline: none;
}

.map {
    background: url(../img/svg/map.svg) no-repeat left;
    height: 637px;
}

.map .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.map .text-title {
    max-width: 422px;
    padding-top: 190px;
}

.map .substring {
    width: 287px;
    height: 30px;
    font-family: 'Proxima Nova Regular';
    margin: 16px 0 40px;
    font-size: 12px;
    line-height: 15px;
    color: #868686;
}

.map .btn {
    width: 211px;
    line-height: 49px;
    text-align: center;
}

.steps {
    list-style: none;
    margin-left: 208px;
    position: relative;
}

.steps::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 537px;
    background: #006FCD;
    left: -47px;
    top: 2px;
}

.steps__block {
    position: relative;
}

.steps__block::before {
    content: "";
    display: block;
    position: absolute;
    width: 13.33px;
    height: 13.33px;
    background: #006FCD;
    border-radius: 50%;
    top: 2px;
    left: -53px;
}

.steps__title {
    font-family: 'Proxima Nova Extra Bold';
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.steps__text {
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
    line-height: 15px;
    color: #868686;
    margin-bottom: 65px;
    width: 208px;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: 'Proxima Nova Regular';
    font-size: 10px;
    line-height: 12px;
    color: #000;
}

.footer_margin {
    margin: 91px 0 61px;
}

.footer_margin-search-page {
    margin: 51px 0 65px;
}

.footer__img {
    width: 168px;
    height: 20px;
}

.footer__img img {
    width: 168px;
    height: 20px;
}

.footer a {
    font-family: "Proxima Nova Bold";
    color: #202020;
    text-decoration: none;
}

.footer p {
    margin-bottom: 3px;
}

.footer__made-in img {
    margin-left: 8px;
}

.header-two {
    height: 382px;
    background: #0069C9;
    padding-top: 40px;
    color: #fff;
}

.header-title_top-87 {
    margin-top: 87px;
}

.advanced-search {
    z-index: 4;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.main .map-google {
    grid-column: 3/5;
    grid-row: 1/3;
    max-width: 552px;
    height: 752px;
    border: 8px solid #FFFFFF;
    border-radius: 8px;
}

.main .map-google iframe {
    width: 100%;
    height: 100%;
}

.advertisement {
    margin-top: 213px;
}

.advertisement__img {
    height: 161px;
}

.advertisement__img > img {
    width: 264px;
    height: 161px;
}

.advertisement__block {
    width: 264px;
    height: 366px;
    background: #fff;
    border-radius: 8px;
    position: relative;
}

.advertisement__block .heart svg {
    position: absolute;
    width: 24px;
    height: 21px;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.advertisement__block .heart .heart-active {
    -webkit-animation: anim 0.4s 1;
    animation: anim 0.4s 1;
    fill: #fff;
}

.advertisement__block .information-block {
    padding: 24px 24px 0 24px;
}

.advertisement__block .information-block__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Proxima Nova Regular';
    font-size: 10px;
    line-height: 12px;
    color: #202020;
    margin-bottom: 8px;
}

.advertisement__block .information-block__flat {
    font-family: 'Proxima Nova Bold';
}

.advertisement__block .information-block .area {
    border-left: 1px solid #C1C1C1;
    border-right: 1px solid #C1C1C1;
    padding: 0 8px;
    margin: 0 16px 0 12px;
}

.advertisement__block .information-block .substring {
    font-family: 'Proxima Nova Light';
    font-size: 9px;
    line-height: 17px;
    color: #C1C1C1;
}

.advertisement__block .information-block .street-name {
    font-family: "Proxima Nova Bold";
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #202020;
    margin: 4px 0 16px;
}

.advertisement__block .information-block .price {
    font-family: 'Proxima Nova Bold';
    margin-top: 4px;
    font-size: 18px;
    line-height: 22px;
    color: #202020;
}

.advertisement__block .information-block .price .old-price {
    display: inline-block;
    font-family: 'Proxima Nova Regular';
    font-size: 16px;
    line-height: 19px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #929292;
    margin-left: 16px;
}

.advertisement__block .information-block .phone-number {
    width: 216px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
}

.advertisement__block .information-block .phone-number__block {
    width: 177px;
    height: 35px;
    line-height: 35px;
    background: #F0F0F0;
    border-radius: 4px;
    font-family: 'Proxima Nova Bold';
    font-size: 10px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    position: relative;
}

.advertisement__block .information-block .phone-number__block a {
    display: block;
    color: #000000;
    text-decoration: none;
}

.advertisement__block .information-block .phone-number__block .hidden {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
}

.advertisement__block .information-block .phone-number a:focus {
    outline: none;
}

.advertisement__block .information-block .phone-number__icon {
    width: 35px;
    height: 35px;
    background: #006CCC;
    border-radius: 4px;
    padding: 9px 12px;
    cursor: pointer;
}

.advertisement__block .information-block .phone-number__icon img {
    width: 12px;
    height: 12px;
}

.offer-top {
    background: #0069C9;
}

.offer-top .header-top {
    height: 119px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.link {
    margin: 24px 0;
}

.link a {
    font-family: 'Proxima Nova Bold';
    font-size: 10px;
    line-height: 12px;
    color: #aaa;
    text-decoration: none;
}

.content-wrap {
    font-family: 'Proxima Nova Regular';
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content__block {
    width: 744px;
    background: #fff;
    border-radius: 8px;
}

.text-content {
    padding: 32px;
}

.images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 744px;
}

.images__first-img {
    position: relative;
}

.images__first-img .look_btn {
    position: absolute;
    cursor: pointer;
    width: 133px;
    height: 27px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    bottom: 24px;
    left: 25px;
    font-size: 9px;
    line-height: 27px;
    color: #202020;
}

.images__first-img .look_btn img {
    margin-right: 8px;
}

.information__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: 'Proxima Nova Bold';
    font-size: 15px;
    line-height: 18px;
    color: #202020;
    margin: 34px 0 17px;
}

.information__top .area {
    border-left: 1px solid #C1C1C1;
    border-right: 1px solid #C1C1C1;
    padding: 0 16px;
    margin: 0 16px 0 12px;
}

.information__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.information__right {
    font-size: 18px;
    line-height: 22px;
    font-family: "Proxima Nova Bold";
    margin-right: 40px;
}

.information__right .price {
    margin-bottom: 10px;
}

.information__right .area {
    font-family: 'Proxima Nova Regular';
    font-size: 9px;
    line-height: 11px;
    border: none;
    margin-right: 4.71px;
    padding: 0;
    text-align: right;
}

.information__street {
    font-size: 10px;
    line-height: 12px;
    color: #202020;
}

.information__street a {
    color: #006FCD;
}

.content-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 333px;
    margin-top: 24px;
}

.content-buttons .btn-content {
    width: 147px;
    height: 32px;
    background: #fff;
    border: 1px solid #202020;
    border-radius: 4px;
    text-align: center;
    font-size: 9px;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-buttons .btn-content__img {
    margin-right: 8px;
    padding-top: 2px;
}

.content-buttons .btn-content__img img {
    width: 12px;
    height: 11px;
}

.content-buttons .btn-new-style {
    width: 118px;
    height: 32px;
    font-family: 'Proxima Nova Light';
    font-weight: 300;
    font-size: 9px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    margin: 0 8px;
}

.content-buttons .btn-link {
    width: 32px;
    height: 32px;
    background: #CDCDCD;
    border-radius: 4px;
    padding: 8px;
}

.description {
    margin-top: 32px;
}

.description__title {
    font-family: "Proxima Nova Extra Bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #202020;
}

.description__text {
    width: 399px;
    font-size: 10px;
    line-height: 12px;
    color: #9E9E9E;
    margin: 8px 0 32px;
}

.table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 564px;
}

.table-three {
    margin-top: 43px;
}

.table h2 {
    font-family: "Proxima Nova Bold";
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 4px;
}

.table td {
    font-size: 10px;
    line-height: 12px;
    color: #9E9E9E;
}

.table .td-title {
    width: 146px;
    height: 18px;
}

.table .td-subtitle {
    color: #202020;
    width: 116px;
}

.contact-form {
    padding: 48px;
    background: #fff;
    width: 360px;
    height: 441px;
    border-radius: 8px;
}

.contact-form__title {
    font-family: 'Proxima Nova Bold';
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #202020;
    margin-bottom: 16px;
}

.business-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.business-card__img img {
    width: 104px;
    height: 104px;
    border-radius: 8px;
}

.business-card__data {
    margin-left: 16px;
}

.business-card__data .full-name {
    font-family: "Proxima Nova Bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #202020;
}

.business-card__data .phone-number__icon {
    margin-top: 8px;
}

.business-card__data .phone-number__icon img {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

.business-card__data .phone-number__icon a {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #202020;
}

.business-card__data .phone-number__icon .message {
    font-size: 12px;
    line-height: 15px;
    color: #202020;
    margin-top: 18px;
}

.content .form .request__fieldset {
    margin-top: 31px;
    margin-bottom: 24px;
}

.content .form .request__input {
    background: #fff;
}

.footer-text {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-top: 16px;
    color: #000000;
}

.google-map-block {
    margin-top: 24px;
}

.google-map-block .map-google {
    width: 744px;
    height: 339px;
    border: 10px solid #fff;
    border-radius: 8px;
}

.google-map-block .map-google iframe {
    width: 724px;
    height: 319px;
}

.footer_margin-3 {
    margin: 56px 0 40px 0;
}

.pagination-container {
    margin: 100px auto;
    text-align: center
}

.pagination {
    position: relative
}

.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 16px 10px
}

.pagination a:before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #2c3e50;
    border-radius: 24px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .2s;
    transition: all .2s
}

.pagination a .pagination-active, .pagination a:hover {
    color: #fff
}

.pagination a .pagination-active:before, .pagination a:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.pagination .pagination-active {
    color: #fff
}

.pagination .pagination-active:before {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.pagination-newer {
    margin-right: 50px
}

.pagination-older {
    margin-left: 50px
}
#thumbnails img, #main {
  /*box-shadow: 2px 2px 10px 5px #b8b8b8;*/
  border-radius: 5px;
}

* {
  transition: all 0.5s ease;
}

#thumbnails {
  text-align: center;
}
#thumbnails img {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  #thumbnails img {
    width: 50px;
    height: 50px;
  }
}
#thumbnails img:hover {
  transform: scale(1.05);
}

#main {
  width: 90%;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}
@media only screen and (max-width: 480px) {
  #main {
    width: 100%;
  }
}

.hidden {
  opacity: 0;
}

