{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/svg/logo.svg' %}" type="image/x-icon">
    <title>Ключ | Агенство недвижимости</title>
</head>
<body>
<div class="window-wrap window-hidden">
    <div class="window">
        <div class="window__title">
            Оставить заявку на размещение объявления
        </div>
        <form class="window__form">
            <div class="form-line">
                <fieldset class='request__fieldset '>
                    <legend class='request__legend'>Имя</legend>
                    <input type="text" placeholder="Введите имя" class="window__input">
                </fieldset>
                <fieldset class='request__fieldset window__phone'>
                    <legend class='request__legend'>Номер телефона</legend>
                    <input type="tel" class="window__input" placeholder="+7 (___) ___-__-__">
                </fieldset>
            </div>
            <fieldset class='request__fieldset window__description'>
                <legend class='request__legend'>Описание</legend>
                <textarea type="text" name="window__description" class="window__input window__textarea"
                          placeholder="Описание вашей квартиры"></textarea>
            </fieldset>
            <div class="form-line ds-window-line">
                <button class="btn">Отправить заявку</button>

                <div class="file">
                    <label class="file__text" for="file__input">
                        Прикрепить файл
                    </label>
                    <input type="file" name="file__input" id="file__input" class="file__input">
                </div>

            </div>
            <div class="phone-window-line">
                <div class="file">
                    <label class="file__text" for="file__input">
                        Прикрепить файл
                    </label>
                    <input type="file" name="file__input" id="file__input" class="file__input">
                </div>
                <button class="btn">Отправить заявку</button>
            </div>

        </form>
    </div>
    <div class="close">
        <div class="close__line-1"></div>
        <div class="close__line-2"></div>
    </div>
</div>

<div class="header-two">
    <div class="wrap">
        <div class="header-top">
            <div class="logo">
                <div class="logo__img">
                    <a href="{% url 'home' %}"><img src="{% static 'img/svg/logo.svg' %}" alt="логотип"></a>
                </div>
                <div class="logo__text">
                    <a href="{% url 'home' %}"><img src="{% static 'img/svg/logo_text.svg' %}" alt="Центр недвижимости"></a>
                </div>
            </div>
            <div class="header-top-right">
                <p class="header-top-right__phone-number"><a href="tel:+73919020202">+7 (3919) 02-02-02</a></p>
                <a class="header-top-right__button" href='#'>
                    <div class="plus">+</div>
                    <p class="text">Разместить объявление</p>
                </a>
                <div class="hamburger">
                    <div class="hamburger__line-one"></div>
                    <div class="hamburger__line-two"></div>
                    <div class="hamburger__line-three"></div>
                </div>
                <div class="aside-wrap aside-hidden">
                    <div class="aside aside-visible">
                        <div class="x-wrap">
                            <div class="x">
                                <div class="x__one"></div>
                                <div class="x__two"></div>
                            </div>
                        </div>

                        <div class="nav">
                            <div class="nav__block">
                                <a href="#" class="nav__text">Поиск</a>
                                <a href="#" class="nav__text">Бесплатная консультация</a>
                                <a href="#" class="nav__text">Ипотека</a>
                            </div>
                            <div class="nav__footer">
                                <a class="header-top-right__button" href='#'>
                                    <div class="plus">+</div>
                                    <p class="text">Разместить объявление</p>
                                </a>
                                <a href="https://goo.gl/maps/AJF9NMqR86zwgecL7" class="address nav__link">г. Норильск,
                                    ул. Пушкина, д. 52</a>
                                <p href="tel:+73919020202" class="phone nav__link">+7 (3919) 02-02-02</p>
                                <a href="#" class="root nav__link">Политика конфиденциальности</a>
                                <a href="#" class="root nav__link">Условия обработки персональных данных</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-title header-title_top-87">
            Приобрети уют в собственном доме
        </div>
        <div class="header-subtitle">Наслаждайтесь местом, в котором живете</div>
        {% include 'ads/inc/_filters_ads.html' %}
    </div>
</div>
<div class="">
</div>
{% include 'ads/inc/_paginated.html' %}
<div class="advertisement">
    <div class="wrap">
        <div class="main">
            {% include 'ads/inc/_ads_card.html' %}
            <div class="map-google">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5629.219439100738!2d88.19969096908977!3d69.34597927836262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x44ac5c1f8bc13abb%3A0x3b52b19813040661!2z0JzRg9C30LXQuSDQndC-0YDQuNC70YzRgdC60LA!5e0!3m2!1sru!2sru!4v1593016836029!5m2!1sru!2sru"
                        height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
{% include 'ads/inc/_footer.html' %}

<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/script.min.js' %}"></script>
</body>
</html>
