{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ключ | Агенство недвижимости</title>
</head>
<body>

<header>
    <div class="header">
        <div class="wrap">
            <div class="header-top">
                <div class="logo">
                    <div class="logo__img">
                        <a href="#"><img src="{% static 'img/svg/logo.svg' %}" alt="логотип"></a>

                    </div>
                    <div class="logo__text">
                        <a href="#"><img src="{% static 'img/svg/logo_text.svg' %}" alt="Центр недвижимости"></a>
                    </div>
                </div>
                <div class="header-top-right">
                    <p class="header-top-right__phone-number"><a href="tel:+73919020202">+7 (3919) 02-02-02</a></p>
                    {#                    <a class="header-top-right__button" href='#'>#}
                    {#                        <div class="plus">+</div>#}
                    {#                        <p class="text">Разместить объявление</p>#}
                    {#                    </a>#}
                    <div class="hamburger">
                        <div class="hamburger__line-one"></div>
                        <div class="hamburger__line-two"></div>
                        <div class="hamburger__line-three"></div>
                    </div>
                </div>
            </div>
            <div class="header-title header-title_top">
                Приобрети уют в собственном доме
            </div>
            <div class="header-subtitle">Наслаждайтесь местом, в котором живете</div>
            <div class="search" style="display: none;">
                <div class="search-options">
                    <div class="search-options__item ">
                        <div class="search-options__text first">
                            <p class="search-options__substing">Тип сделки</p>
                            <p class="search-options__title">Покупка <i class="fas fa-chevron-down "></i></p>
                        </div>
                        <div class="navbar-wrap">
                            <ul class="navbar">
                                <li class="navbar__item"><a href="#"> Покупка </a></li>
                                <li class="navbar__item"><a href="#"> Продажа </a></li>
                                <li class="navbar__item"><a href="#"> Аренда </a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="search-options__item">
                        <div class="search-options__text">
                            <p class="search-options__substing">Тип жилья</p>
                            <p class="search-options__title">Квартира <i class="fas fa-chevron-down"></i></p>
                        </div>
                        <div class="navbar-wrap">
                            <ul class="navbar">
                                <li class="navbar__item"><a href="#"> Квартира </a></li>
                                <li class="navbar__item"><a href="#"> Пансионат </a></li>
                                <li class="navbar__item"><a href="#"> Комната </a></li>
                                <li class="navbar__item"><a href="#"> Малосемейка </a></li>
                                <li class="navbar__item"><a href="#"> Общежитие </a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="search-options__item">
                        <div class="search-options__text">
                            <p class="search-options__substing">Тип недвижимости</p>
                            <p class="search-options__title">Вторичная <i class="fas fa-chevron-down"></i></p>
                        </div>
                        <div class="navbar-wrap">
                            <ul class="navbar">
                                <li class="navbar__item"><a href="#"> Вторичная </a></li>
                                <li class="navbar__item"><a href="#"> Гараж </a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="search-options__item">
                        <div class="search-options__text">
                            <p class="search-options__substing">Площадь</p>
                            <p class="search-options__title">30 м<span>2</span> &nbsp;—&nbsp; 60 м<span>2</span></p>
                        </div>
                    </div>
                    <div class="search-options__item">
                        <div class="search-options__text">
                            <p class="search-options__substing">Отделка</p>
                            <p class="search-options__title">Чистовая <i class="fas fa-chevron-down"></i></p>
                        </div>
                        <div class="navbar-wrap">
                            <ul class="navbar">
                                <li class="navbar__item"><a href="#"> Чистовая </a></li>
                                <li class="navbar__item"><a href="#"> Черновая </a></li>
                            </ul>
                        </div>

                    </div>
                    <a class="search-options__btn" href='ads_list.html'>
                        Поиск
                    </a>
                </div>
                <div class="advanced-search-wrap">
                    <div class="advanced-search">
                        <div class="advanced-search__line advanced-search__line_margin">
                            <span>Тип недвижимости</span>
                            <input type="radio" id="flat" name="flat">
                            <label for="flat">Квартира</label>
                            <input type="radio" id="pension" name="flat">
                            <label for="pension">Пансионат</label>
                            <input type="radio" id="room" name="flat">
                            <label for="room">Комната</label>
                            <input type="radio" id="small-family" name="flat">
                            <label for="small-family">Малосемейка</label>
                            <input type="radio" id="dormitory" name="flat">
                            <label for="dormitory">Общежитие</label>
                        </div>
                        <div class="advanced-search__line advanced-search__line_margin">
                            <span>Этажность</span>
                            <input type="number" min="1" placeholder="от" class='one'>
                            <input type="number" min="1" placeholder="до">
                            <input type="radio" id="dormitory" name="storey">
                            <label for="dormitory">Все кроме первого</label>
                            <input type="radio" id="dormitory" name="storey">
                            <label for="dormitory">Все кроме последнего</label>
                            <input type="radio" id="dormitory" name="storey">
                            <label for="dormitory">Многоуровневая</label>
                        </div>
                        <div class="advanced-search__line">
                            <span>Площадь кухни</span>
                            <input type="number" min="1" placeholder="от" class='one'>
                            <input type="number" min="1" placeholder="до">
                            <span>Материал стен</span>
                            <div class='select' data-close="true">Выбрать
                                <div class="select__nav">
                                    <div class='select__option'>Text 1</div>
                                    <div class='select__option'>Text 2</div>
                                </div>
                            </div>
                            <span>Отделка</span>
                            <div class='select' data-close="true">Выбрать
                                <div class="select__nav">
                                    <div class='select__option'>Text 3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advanced-search-btn" style="display: none;">
                    Расширенный поиск <span class="arrow-down"></span> <span class="arrow-up"></span>
                </div>
            </div>
            {% include 'ads/inc/_filters_ads.html' %}


        </div>
    </div>
</header>
<div class="best-offer">
    <div class="wrap">
        <div class="top">
            <h1 class="title">Лучшие предложения дня</h1>
            <a href='ads_detail.html' class='string'>Смотреть все </a>
            <div class="arrow">
                <div class="arrow__left"><i class="fas fa-chevron-left"></i></div>
                <div class="arrow__right"><i class="fas fa-chevron-right"></i></div>
            </div>
        </div>
        <div class="slider">

            {% for item in ads %}
                <div class="slider__block slider__block_width">
                    <div class="slider__img">
                        <img src="{{ item.image.url }}" alt="" width="360" height="220">
                        <div class="heart">

                        </div>
                    </div>
                    <div class="information-block">
                        <div class="information-block__top">
                            <div class="information-block__flat">{{ item.number_of_rooms }}-комн. квартира</div>
                            <div class='area'>{{ item.apartment_area }} <span class="square">м<span>2</span></span>
                            </div>
                            <div>{{ item.apartment_floor }}/{{ item.house_floor }} эт</div>
                        </div>
                        <div class="substring">{{ item.district }}</div>
                        <div class="street-name">{{ item.address }}</div>
                        <div class="substring">{{ item.price_sm }} &#8381; / <span class="square">м<span>2</span></span>
                        </div>
                        <div class="price">{{ item.price }} &#8381; <span class='old-price'>1 200 000 &#8381;</span>
                        </div>
                        <div class="phone-number">
                            <div class="phone-number__block">
                                <p class='visible'>Показать телефон</p>
                                <p class="hidden"><a href="tel: {{ item.phone }}">{{ item.phone }}</a></p>
                            </div>
                            <a href="tel: {{ item.phone }}">
                                <div class="phone-number__icon">
                                    <img src="{% static 'img/svg/phone.svg' %}" alt="phone">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="advantages">
    <div class="wrap">
        <div class="text-title">
            Почему с нами лучше?
        </div>
        <div class="all-advantages">
            <div class="all-advantages__block">
                <div class="all-advantages__img">
                    <img src="{% static 'img/adv-01.png' %}" alt="img">
                </div>
                <div class="all-advantages__subtitle">
                    У вас большой выбор
                </div>
                <div class="all-advantages__text">
                    Тщательно отбираем базу объектов, проверяем документы на юридическую чистоту
                </div>
            </div>
            <div class="all-advantages__block">
                <div class="all-advantages__img">
                    <img src="{% static 'img/adv-02.png' %}" alt="img">
                </div>
                <div class="all-advantages__subtitle">
                    Сделка будет безопасной
                </div>
                <div class="all-advantages__text">
                    Защитим вашу сделку своими средствами в случае потери права собственности
                </div>
            </div>
            <div class="all-advantages__block">
                <div class="all-advantages__img">
                    <img src="{% static 'img/adv-03.png' %}" alt="img">
                </div>
                <div class="all-advantages__subtitle">
                    Платите за результат
                </div>
                <div class="all-advantages__text">
                    Все консультации и сервисы компании бесплатны, вы платите только после сделки
                </div>
            </div>
            <div class="all-advantages__block">
                <div class="all-advantages__img">
                    <img src="{% static 'img/adv-04.png' %}" alt="img">
                </div>
                <div class="all-advantages__subtitle">
                    Все будет готово для сделки
                </div>
                <div class="all-advantages__text">
                    Экономим ваше время: берем всю рутину на себя, вам не нужно разбираться
                </div>
            </div>
        </div>
    </div>
</div>
<div class="consultation">
    <div class="wrap">
        <div class="text-title">
            Бесплатная консультация
        </div>
        <div class="consultation__substring">
            Оставьте заявку или звоните нам по телефону:
            <a href="tel: +73919020202" class="consultation__phone">+7 (3919) 02-02-02</a>
            <i class="fab fa-whatsapp"></i>
        </div>
        {% if request.session.success %}
        <h1 style="color: #00ff03">Ваша заявка принята</h1>
            {% else %}
        <form action="{% url 'add_applications' %}" class="request" method="post">
            {% csrf_token %}
            <fieldset class='request__fieldset'>
                <legend class='request__legend'>Имя</legend>
                {{ form.user_name }}
            </fieldset>
            <fieldset class='request__fieldset'>
                <legend class='request__legend'>Номер телефона</legend>
                {{ form.phone }}
            </fieldset>
            <button class="btn">Отправить заявку</button>
            <p class="message">
                Отправляя заявку, вы соглашаетесь на обработку персональных данных
            </p>
        </form>
        {% endif %}
    </div>
</div>
<div class="map">
    <div class="wrap">
        <div class="text">
            <div class="text-title">Узнайте, какую сумму вы сможете взять в ипотеку</div>
            <div class="substring">Поможем получить одобрение банков, чтобы вы могли понимать бюджет на покупку
                квартиры
            </div>
            <div class="btn">Подать заявку онлайн</div>
        </div>
        <ul class="steps">
            <li class="steps__block">
                <div class="steps__title">Консультация</div>
                <div class="steps__text">
                    Специалист по ипотеке позвонит в течение 10 минут и выяснит ваши цели и расскажет, что делать дальше
                </div>
            </li>
            <li class="steps__block">
                <div class="steps__title">Заполнение анкеты</div>
                <div class="steps__text">
                    Вы собираете все документы, прикрепляете их онлайн и заполняете данные о себе анкеты
                </div>
            </li>
            <li class="steps__block">
                <div class="steps__title">Отправка заявки в банки</div>
                <div class="steps__text">
                    Специалист по ипотеке проверяет все данные и отправляет заявку в несколько банков
                </div>
            </li>
            <li class="steps__block">
                <div class="steps__title">Одобрение ипотеки</div>
                <div class="steps__text">
                    После проверки банками мы сообщаем статус вашей заявки и условия банка
                </div>
            </li>
            <li class="steps__block">
                <div class="steps__title">Сделка</div>
                <div class="steps__text">
                    Помогаем выбрать понравившуюся недвижимость, отправляем ее на проверку банку и проводим сделку
                </div>
            </li>
        </ul>

    </div>
</div>
<footer>
    <div class="wrap">
        <div class="footer footer_margin">
            <div class="footer__img">
                <img src="{% static 'img/svg/logo2.svg' %}" alt="logo">
            </div>
            <div class="footer__adress">
                <p>г. Норильск, ул. Пушкина, д. 52</p>
                <a href="tel:+73919020202">+7 (3919) 02-02-02</a>
            </div>
            <div class="footer__root">
                <p>Политика конфиденциальности</p>
                <p>Условия обработки персональных данных</p>
            </div>
            <div class="footer__made-in">
                Сделано
                <img src="{% static 'img/svg/copyright.svg' %}" alt="logo">
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/script.min.js' %}"></script>
</body>
</html>
